/* Reset default margin and padding for all elements */
/* Reset default margin and padding for all elements */
body {
    margin: 0px auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*------------------------------------------------------------------------------ Navbar styling ------------------------------------------------------------------------------------ */

.navbar {
    background-color: #cccccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    position: -webkit-sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */

}

#navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Add any additional styles you need for the sticky state */
}

.logo img {
    width: 150px; /* Adjust the logo width as needed */
    margin-left: 100px;
    border: 15px transparent; /* Adjust the border size for your desired softness */
    border-radius: 10px; /* Adjust the border-radius to control the softness of the edges */
}

.nav-items {
    display: flex;
    margin-right: 100px;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 20px;
    margin-right: 60px; /* This is applied to each individual nav-item */

}

.nav-items a:hover {
    color: rgb(181, 182, 185); /* Change the color on hover as needed */
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right:10px;
}

.bar {
    background-color: #fff;
    height: 4px;
    width: 30px;
    margin: 6px 0;
    transition: background-color 0.3s;
}



@media (max-width: 700px) {
    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 50%; /* Center the hamburger menu */
        transform: translateX(-50%);
        width: 100%;
        background-color: #cccccc;
        padding: 10px; /* Add padding to the smaller menu */
        border-radius: 10px; /* Optional: Add border-radius for rounded corners */
        
    }

    .nav-items.show {
        display: flex;

    }

    .hamburger-menu {
        display: flex;
        align-items: center;
    }

    .bar {
        background-color: #fff;
        height: 4px;
        width: 30px;
        margin: 6px 0;
        transition: background-color 0.3s, transform 0.3s;
    }

    .bar:hover {
        background-color: #082a6f; /* Change the color on hover as needed */
    }
    .logo img {
        margin-left: 10px;
    }
}

.content {
    padding-top: 80px; /* Adjust padding to accommodate fixed navbar */
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}


/* ------------------------------------------------------------------------------------MAIN CONTENT-------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------welcome-----------------------------------------------------------------------------*/
.rowbanner02 {
    background-image: url(images/fan.png);
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position-x: 0px;
    width: 100%;
    height: 300px;
    box-shadow: 0px -10px 10px 0px #888888;
}

.rowbanner02 .line01 {
    margin-bottom: 8px; /* Adjust this value to bring lines closer */
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
    color: #fff;
    padding-top: 100px;
    margin-left: 100px;
}

.rowbanner02 .line02 {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
    margin-left: 100px;
    margin-top: -10px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 12px; /* Adjust this value to bring lines closer */
    margin-top: 20px;
    padding-top: 25px;

}

.rowbanner02 .line03 {
    color: #fff;
    margin-left: 100px;
    max-width: 600px;
    overflow-wrap: break-word;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
    font-size: 22px;
}

.rowbanner02 .line04 {
    color: #fff;
    margin-left: 100px;
    padding-bottom: 10px;
    margin-top: -15px;
    font-size:22pt;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
}

.rowbanner02 .highlight{
    color:#ab1b1b;
    font-size: 32pt;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */

}

/* Media query for smaller screens or zoomed in */
@media (max-width: 768px) {
    .rowbanner02 {
        height: auto; /* Allow the container to adjust its height */
    }
    .rowbanner02 .line02 {
        font-size: medium !important;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 2); /* Horizontal offset, vertical offset, blur radius, color */
        margin-left: 10px;
    }
    .rowbanner02 .line03 {
        font-size: medium !important;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 2); /* Horizontal offset, vertical offset, blur radius, color */
        margin-left: 10px;
    }
    .rowbanner02 .line04 {
        font-size: medium !important;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 2); /* Horizontal offset, vertical offset, blur radius, color */
        margin-left: 10px;
    }
    .rowbanner02 .highlight {
        font-size: larger !important;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 2); /* Horizontal offset, vertical offset, blur radius, color */
        margin-left: 10px;
    }
}





/* -----------------------------------------------------------------SERVICES---------------------------------------------------------------------------------------------------------------------*/

/* Service Section styling */
.service {
    margin: 50px 0px;

}

/* Styling for the title in the Service Section */

.title {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}

/* Styling for service boxes */
.service-box {
    padding: 0 10px; /* Reduce the horizontal padding to make the box narrower */
    border: 4px solid  #082a6f;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.3s; /* Add a smooth transition for the background color */
    text-align: center;
    transform-origin: center center; /* Center align the text within the .service-box */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis; /* Show ellipsis (...) when content is truncated */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */

}

/* Styling for service boxes on hover */
.service-box:hover {
    background:  #082a6f;
    border-radius: 5px;
    color: #fff !important;
    box-shadow: 0 15px 15px 2px rgba(213, 213, 213, 0.5);
    transform: scale(1.2); /* Scale the box to 120% of its original size on hover */
    white-space: normal; /* Allow the text to wrap to multiple lines */
    overflow: visible; /* Show the full content */
    text-overflow: initial; /* Remove ellipsis on hover */
}

/* Styling for images within service boxes */
.service-box img {
    width: 200px;
    margin-top: 30px;
    display: block;
    margin: 0 auto;
    border-top: 10px solid #fff; /* Add a border on top of the image */
    transition: border-top 0.3s; /* Add a transition for the border on top */
    
}

/* Styling for images within service boxes on hover */
.service-box:hover img {
    border-top: 10px solid #082a6f; /* Change the border color on hover */
    margin-bottom: 10px;
}

/* Styling for the title (h6) within service boxes */
.service-box h6 {
    margin-bottom: 30px; /* Add space between the image and the title */
    font-weight: 500;
    font-size-adjust: auto;
    text-align: center; /* Center align the h6 element */
    margin-top: 15px;
}

/* Styling for the full-text within service boxes */
.service-box .full-text {
    display: none;
    font-size: 14px;
    color: #fff;
    text-align: center; /* Center align the p element */
    position: relative;
}

/* Styling for the "Read More" text within service boxes */
.service-box .read-more {
    cursor: pointer;
    color: #082a6f;
}

/* Styling for the "Read Less" text within service boxes */
.service-box .read-less {
    display: none;
    cursor: pointer;
    color: #082a6f;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .service-box {
        padding: 0 5px; /* Adjust the padding for smaller screens */
        margin-bottom: 20px; /* Adjust spacing between service boxes */
        text-align: center; /* Center text in service boxes */
        position: relative; /* Set position to relative for absolute positioning of text */


    }

    .service-box img {
        width: 90%;
        border-top: 10px solid #fff; /* Adjust the border size for smaller screens */
    }
    .service-box h6 {
        font-size:medium; /* Adjust heading font size for smaller screens */
    }

    .truncated-text{
        font-size:small; /* Adjust text font size for smaller screens */
    }
    .service-box:hover .full-text {
        inline-size: 275px;
        overflow-wrap: break-word;
        font-size: smaller;
        margin-left: 10%;
    }
    .title {
        margin-bottom: 15px;
        font-size: large;
    }
}

/*-------------------------------------------------------------------------------PRICES-------------------------------------------------------------------------*/
.pricetext {
    text-align: center;
    margin-bottom: 25px;
}

.prices .row01 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.prices .row01 .col-md-4 img {
    width: 170px; /* Adjust the width as needed */
    margin: 0 auto;
    border-top: 10px solid #fff; /* Add a border on top of the image */
    transition: border-top 0.3s; /* Add a transition for the border on top */
}

.prices .row01 .col-md-4 {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 200px;
    box-shadow: 0px 10px 5px #888888;
    max-width: 200px; /* Adjust the max-width as needed */
    margin: 10px;
    text-align: center;
}
/* Media query for smaller screens or zoomed in */
@media (max-width: 768px) {
    .prices .row01 .col-md-4 {
        max-width: 90%; /* Allow items to take full width on smaller screens */
    }

}

/*-------------------------------------------------------------------------------------------about us--------------------------------------------------------------------------------*/


/* About Us Section styling */
.about {
    margin: 50px 0;
    margin-top: 2px;
    background-color: #082a6f;
    
}

/* Styling for images in the About Us Section */
.about img {
    max-width:85%;
    cursor: pointer;
    border-top:15px;
    border: 15px transparent; /* Adjust the border size for your desired softness */
    border-radius: 10px; /* Adjust the border-radius to control the softness of the edges */
    margin-top: 15px;
    margin-bottom: 15px;
}

.title-about{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px; /* Adjust as needed */
    line-height: 1.5; /* Adjust line height for better readability */
    text-shadow: 0 0 3px #082a6f; 
    color: #fff;
    margin: 50px 0;
    text-align: center;
    inline-size: 600px;
    overflow-wrap: break-word;
    padding: 20px;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.sub-title-about{
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5; /* Adjust line height for better readability */
    color: #fff;
    margin: 50px 0;
    text-align: center;
    inline-size: 600px;
    overflow-wrap: break-word;
    padding: 20px;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto; /* Center the container horizontally */

}

/* Media query for smaller screens or zoomed in */
@media (max-width: 768px) {
    .about img {
        max-width: 100%; /* Allow images to take full width on smaller screens */
        margin-top: 20px;

    }

    .title-about,
    .sub-title-about {
        max-width: 90%; /* Allow text to take full width on smaller screens */

    }
    .title-about {
        font-weight:700 ;
        margin-bottom: -15px;
    }
    .sub-title-about {
        font-size:smaller;
    }
}

/* ---------------------------------------------------------------------about us extended----------------------------------------------------------------------*/
#contact-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 18pt;
    align-items: flex-start;
}

.column {
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

.column h4 {
    font-size: 24pt;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.column:nth-child(n+2) .content p {
    margin-top: -20px;
}


.twentyfour {
    margin-top: -10px;
    color: #ab1b1b;
    font-size: 24pt;
    font-weight: 800;
}

/* Responsive styles */
@media (max-width: 768px) {
    #contact-info {
        flex-direction: column;
        margin-bottom: 0px;

    }

    .column {
        width: 100%;
        margin-bottom: 20px;
        font-size:smaller;
    }

}


